/*radio button tab default style*/
* {
    -webkit-appearance: none;
}

/* stylelint-disable */
input[name="tab"] {
    display: inline-block;
    padding: 2px 4px;
    width: 30%;
    text-align: center;
    border: 1px solid #3399ff;
    border-radius: 4px;
    -webkit-appearance: none;
    cursor: pointer;
}

input[name="tab"]:checked {
    color: #ffffff;
    background: #3399ff;
}

/*insert text*/
input[name="tab"]::after {
    content: attr(title);
}

/*checked style*/
input[name="tab"][value="0"]:checked~#main1,
input[name="tab"][value="1"]:checked~#main2,
input[name="tab"][value="2"]:checked~#main3 {
    display: block;
}

/* stylelint-enable */
/*content area*/
.main-content {
    display: none;
    border-top: 1px solid #eeeeee;
    margin: 20px 0 0;
    /*text-align: center;*/
}

/*TODO
- add app thumbnail inline-block
-  title and description let them left align
- add number

**/

/* BEM Convention*/
/**
    https: //www.smashingmagazine.com/2016/06/battling-bem-extended-edition-common-problems-and-how-to-avoid-them/
 ** 1. 只用 class 選擇器
 ** 2. 按照 block 組織
*/
/* list layout */
.l-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* item layout */
.l-list__item {
    padding: 1rem .6rem;
    border-bottom: 1px solid #eeeeee;
}

/* card component */
.c-card {
    display: block;
    overflow: auto;
}

.c-card__link {
    display: block;
    text-decoration: none;
}

.c-card__side {
    float: left;
    margin-right: .6rem;
}

.c-card__side--small {
    width: 64px;
    height: 64px;
}

.c-card__side--medium {
    width: 128px;
    height: 128px;
}

.c-card__description {
    font-size: 0.7rem;
    font-family: sans-serif;
    color: #cccccc;
    line-height: 1.5rem;
}

.c-card__title {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333333;
}

/* img-container-square block */
.l-img-container {
    position: relative;
    width: 100%;
}

.l-img-container--square {
    padding-bottom: 100%;
}

.l-img-container__img {
    position: absolute;
    top: 0;
    left: 0;
}

/* fakeimg component */
.h-fakeimg {
    display: block;
    width: 100%;
    height: 100%;
    background: #eeeeee;
}