.breadcrumb {
  display: flex;
  padding: 20px;
  font-family: sans-serif;
}
.breadcrumb-item {
  position: relative;
  margin: 0 1.3em 0 0;
  list-style-type: none;
}
.breadcrumb-item .link {
  display: inline-block;
  padding: 0 1em;
  height: 2em;
  text-decoration: none;
  color: #666666;
  background: #ccff66;
  transition: background .2s;
  line-height: 2em;
}
/* triangnal */
.breadcrumb-item .link::before {
  position: absolute;
  top: 0;
  right: -1em;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0 1em 1em;
  border-color: transparent transparent transparent #ccff66;
  transition: all .2s;
  content: '';
}
/* hover style */
.breadcrumb-item .link:hover {
  color: #333333;
  background: #99ff00;
}
.breadcrumb-item .link:hover::before {
  color: #000000;
  border-color: transparent transparent transparent #99ff00;
}
