.breadcrumb {
  display: flex;
  font-family: sans-serif;
  padding: 20px;
}
.breadcrumb-item {
  list-style-type: none;
  margin: 0 1.3em 0 0;
  position: relative;
}
.breadcrumb-item a {
  background: #cf6;
  color: #666;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
  transition: background .2s;
}
/* triangnal */
.breadcrumb-item a::before {
  border-color: transparent transparent transparent #cf6;
  border-style: solid;
  border-width: 1em 0 1em 1em;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: -1em;
  top: 0;
  transition: all .2s;
  width: 0;
}
/* hover style */
.breadcrumb-item a:hover {
  background: #9f0;
  color: #333;
}
.breadcrumb-item a:hover::before {
  color: black;
  border-color: transparent transparent transparent #9f0;
}
