/*Button*/

/*normalize*/
.button {
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}
/*Basic Layout Design*/
.button-layout {
    border-radius: 4px;
    padding: 6px 10px;
    text-align: center;
}
/*State*/
.button-default {
    background: #efefef;
    color: #333;
}
.button-primary {
    background: #3bab09;
    color: #fff;
}
.button-emergency{
    background: #eb3b5a;
    color: #fff;
}

/*Material*/
.button-gradient {
    border: solid rgba(0,0,0,.2) 1px;
    box-shadow: 0 1px 1px #fff,
        inset 0 1px 1px rgba(255,255,255,.4);
    color: #fff;
}
.button-gradient-dark {
    text-shadow: 0 -1px 1px rgba(0,0,0,.5);
    color: #fff;
}
.button-gradient-light {
    background: linear-gradient(#ffffff,#e3e1e2);

    color: #333;
}
.button-gradient-primary {
    background: linear-gradient(#55c40d, #3bab09);
}
.button-gradient-emergency {
    background: linear-gradient(#eb3b5a, #cd3e5a);
}

/*Size*/
.button-max {
    width: 100%;
}

.button-square-middle {
    width: 150px;
    height:150px;
    font-weight: bold;
}