/*Button*/

/*normalize*/
.button {
    box-sizing: border-box;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
}
/*Basic Layout Design*/
.button-layout {
    padding: 6px 10px;
    text-align: center;
    border-radius: 4px;
}
/*State*/
.button-default {
    color: #333333;
    background: #efefef;
}
.button-primary {
    color: #ffffff;
    background: #3bab09;
}
.button-emergency{
    color: #ffffff;
    background: #eb3b5a;
}

/*Material*/
.button-gradient {
    color: #ffffff;
    border: solid rgba(0,0,0,.2) 1px;
    box-shadow: 0 1px 1px #ffffff,
        inset 0 1px 1px rgba(255,255,255,.4);
}
.button-gradient-dark {
    color: #ffffff;
    text-shadow: 0 -1px 1px rgba(0,0,0,.5);
}
.button-gradient-light {

    color: #333333;
    background: linear-gradient(#ffffff,#e3e1e2);
}
.button-gradient-primary {
    background: linear-gradient(#55c40d, #3bab09);
}
.button-gradient-emergency {
    background: linear-gradient(#eb3b5a, #cd3e5a);
}

/*Size*/
.button-max {
    width: 100%;
}

.button-square-middle {
    width: 150px;
    height:150px;
    font-weight: bold;
}